header {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  align-items: center;
}
header button {
  height: 30px;
}
form {
  padding: 20px;
  width: 300px;
  margin: auto;
}

form input {
  margin: 5px;
  width: 100%;
  height: 30px;
}

form label {
  margin: 5px;
  font-weight: bold;
}

form button {
  margin: 10px;
  height: 30px;
}

.item {
  padding: 10px;
  border: 1px solid grey;
}

.item button {
  float: right;
  font-size: 14px;
  width: 100px;
}

.checked-in {
  background: green;
}

.checked-out {
  background: yellow;
}

.error {
  color: red;
  font-size: 12px;
  margin: 5px;
}
